<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Form</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}

        <!-- <label for="input">Input:</label>
        <input type="text" name="input" id="input"> -->

        <button type="submit">Submit</button>

        <h2>Result:</h2>
        <p>Input Text: {{ input_text }}</p>
    </form>
</body>

</html>